.coucou {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    shape-outside: circle();
}

.triangle-code {
    float: left;
    height: 0;
    width: 0;
    shape-outside: polygon(0 0, 1000px 1000px, 700px 600px);
    border-right: 200px solid transparent;
    border-bottom: 200px solid red;
}

.eiffel{
    width: 550px;
    float: right;
}



.triangle-codes {
    float: left;
    height: 0;
    width: 0;
    shape-outside: polygon(0 280px, 250px 0px, 0 0);
    border-right: 250px solid transparent;
    border-top: 250px solid red;
}
