.niveau2{
    display: none;
    position: absolute;
    float: left;    
}
.niveau1{
    display: inline-block;

}
.niveau3{
    display: none;
    position: absolute;
}
.niveau1:hover .niveau2{
    display: block;
}
.niveau2:hover .niveau3{
    display: block;
}
li{
    position: relative;
}